<div class="row">
  <div class="col">
    <h1>Hallo {{identityClaims.preferred_username}}</h1>
  </div>
  <div class="col">
    <img [src]="( '/graph/picture/48x48' | profileImage ) | async" alt="Profile Image" width="48" height="48"
         style="border-radius: 50%;">

  </div>

</div>
